{% extends 'base.html' %}
{% load ckeditor_config %}
{% block content %}
    <h1>Articles</h1>
    <div style="display:flex; flex-direction: column;">
        {% for article in object_list %}
            <a href="{% url "article-detail" pk=article.id %}">{{ article.title }}</a>
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
    </div>
    <div>
        <button onclick="create_article()">Create article</button>
    </div>
    <div id="dynamicEditor"></div>

    {# scripts to handle editor behavior #}
    {{media}}
    {{ config|json_script:"config-base"}}
    <script>
        const wrapper = document.getElementById('dynamicEditor');
        let form_counter = 0;
        const config = document.getElementById('config-base').textContent
        const upload_url = "https://test.de"
        const csrf_cookie_name = "csrf_cookie"

        function create_article(){
            console.log("test")
            const id = "id_text_" + form_counter++
            if (!window.ckeditorCallbacks) {
                window.ckeditorCallbacks = {}
            }
            window.ckeditorCallbacks[id] = function(editor){
                console.log("created" + id)
            }
            wrapper.insertAdjacentHTML("beforeend", window.ckeditorCreateTemplate(config, id, upload_url, csrf_cookie_name))
        }
        function dispose(){
            wrapper.innerHTML = "";
        }
    </script>
{% endblock %}
